* {
   margin: 0;
   padding: 0;
}
.section-1 {
   margin-top: 10px;
   background-image: url('../img/main-bg-img.jpg');
   background-size: contain;
   width: 100vw;
   background-repeat: no-repeat;
   height: 100vh;
   font-family: 'Poppins';
}

.section-1-text {
   color: white;
   margin-top: 20vh;
}

.section-1-text h1 {
   margin-top: 2.42vh;
   margin-bottom: 2.64vh;
   font-family: 'Poppins Bold';
   font-size: 60px;
   line-height: 74px;
}

.section-1-text p {
   font-family: 'Poppins';
   font-size: 16px;
   line-height: 26px;
}

.get-touch a {
   margin-top: 44px;
   font-family: 'Poppins Bold';
   text-decoration-line: underline;
   font-size: 1vw;
   line-height: 18px;
   color: #FFD723;
}