@font-face {
   font-family: 'Poppins';
   src: url("./Poppins-Regular.ttf");
   font-style: normal;
}
@font-face {
   font-family: 'Poppins Medium';
   src: url('./Poppins-Medium.ttf');
   font-style: normal;
   font-weight: 400;
}
@font-face {
   font-family: 'Poppins Bold';
   src: url('./Poppins-Bold.ttf');
   font-weight: 700;
   font-style: normal;
}
